# Gold Price Extraction using Web Scripting with Selenium Library from EXCHANGE-RATE.ORG PAGE

pip install selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
import pandas as pd
import time

URL = 'https://www.exchange-rates.org/precious-metals/gold-price/india/2025'
output_file = 'GOLD_PRICE_2025.csv'

2017 completed
2018 completed
2019 completed
2020 completed
2021 completed
2022 completed
2023 completed
2024 completed

In [82]:
# Optional - Keep the browser open (helps diagnose issues if the script crashes)
chrome_options = webdriver.ChromeOptions()
chrome_options.add_experimental_option("detach", True)

In [84]:
driver = webdriver.Chrome(options=chrome_options)

driver.get(URL)

# Click Sign in Button
time.sleep(2)
gram_option = driver.find_element(by=By.ID, value="tab_item_unit_G")
gram_option.click()

# Find all table rows or elements that contain the data you
rows = driver.find_elements(By.CSS_SELECTOR, "#metal-history-table-cnt > div > div > table.metal-history-table.wide-table > tbody > tr")

# Initialize list to store data
data = []

# Loop through each row to extract the data
for row in rows:
    cols = row.find_elements(By.TAG_NAME, "td")
    if len(cols) > 0 and len(cols) == 6 :
        temp = []
        for i, col in enumerate(cols):
            text = col.text.strip()
            if '₹' in text:
                text = text.replace('₹', '').replace(',', '')
            temp.append(text)

        if temp: 
            data.append(temp)

print(data)

# Close the driver after the task is complete
driver.quit()

[['1 Jan', '7219.42', '6617.80', '5414.56', '4211.33', '3008.09'], ['2 Jan', '7334.95', '6723.70', '5501.21', '4278.72', '3056.23'], ['3 Jan', '7283.00', '6676.08', '5462.25', '4248.42', '3034.58'], ['6 Jan', '7258.62', '6653.73', '5443.96', '4234.19', '3024.42'], ['7 Jan', '7307.40', '6698.45', '5480.55', '4262.65', '3044.75'], ['8 Jan', '7354.60', '6741.72', '5515.95', '4290.18', '3064.42'], ['9 Jan', '7377.67', '6762.86', '5533.25', '4303.64', '3074.03'], ['10 Jan', '7452.79', '6831.73', '5589.60', '4347.46', '3105.33'], ['13 Jan', '7427.09', '6808.16', '5570.32', '4332.47', '3094.62'], ['14 Jan', '7443.33', '6823.05', '5582.50', '4341.94', '3101.39'], ['15 Jan', '7492.43', '6868.06', '5619.32', '4370.58', '3121.85'], ['16 Jan', '7555.16', '6925.57', '5666.37', '4407.18', '3147.99'], ['17 Jan', '7522.03', '6895.19', '5641.52', '4387.85', '3134.18'], ['20 Jan', '7511.70', '6885.73', '5633.78', '4381.83', '3129.88'], ['21 Jan', '7624.48', '6989.11', '5718.36', '4447.61', '3176.87'], ['22 Jan', '7660.36', '7022.00', '5745.27', '4468.55', '3191.82'], ['23 Jan', '7656.95', '7018.87', '5742.71', '4466.55', '3190.39'], ['24 Jan', '7680.11', '7040.10', '5760.08', '4480.06', '3200.04'], ['27 Jan', '7620.02', '6985.02', '5715.02', '4445.01', '3175.01'], ['28 Jan', '7696.79', '7055.39', '5772.59', '4489.79', '3206.99'], ['29 Jan', '7689.02', '7048.27', '5766.76', '4485.26', '3203.76'], ['30 Jan', '7785.28', '7136.50', '5838.96', '4541.41', '3243.87'], ['31 Jan', '7800.37', '7150.34', '5850.28', '4550.22', '3250.15'], ['3 Feb', '7866.55', '7211.01', '5899.92', '4588.82', '3277.73'], ['4 Feb', '7954.38', '7291.51', '5965.78', '4640.05', '3314.32'], ['5 Feb', '8055.77', '7384.45', '6041.83', '4699.20', '3356.57'], ['6 Feb', '8048.48', '7377.78', '6036.36', '4694.95', '3353.54'], ['7 Feb', '8075.80', '7402.81', '6056.85', '4710.88', '3364.92']]

In [86]:
# Column names as specified
columns = [
    "Date",
    "Gold Price (24 Karat)",
    "Gold Price (22 Karat)",
    "Gold Price (18 Karat)",
    "Gold Price (14 Karat)",
    "Gold Price (10 Karat)"
]

# Create the DataFrame
df = pd.DataFrame(data, columns=columns)

In [88]:
df

,Date,Gold Price (24 Karat),Gold Price (22 Karat),Gold Price (18 Karat),Gold Price (14 Karat),Gold Price (10 Karat)
0,1 Jan,7219.42,6617.80,5414.56,4211.33,3008.09
1,2 Jan,7334.95,6723.70,5501.21,4278.72,3056.23
2,3 Jan,7283.00,6676.08,5462.25,4248.42,3034.58
3,6 Jan,7258.62,6653.73,5443.96,4234.19,3024.42
4,7 Jan,7307.40,6698.45,5480.55,4262.65,3044.75
5,8 Jan,7354.60,6741.72,5515.95,4290.18,3064.42
6,9 Jan,7377.67,6762.86,5533.25,4303.64,3074.03
7,10 Jan,7452.79,6831.73,5589.60,4347.46,3105.33
8,13 Jan,7427.09,6808.16,5570.32,4332.47,3094.62
9,14 Jan,7443.33,6823.05,5582.50,4341.94,3101.39
10,15 Jan,7492.43,6868.06,5619.32,4370.58,3121.85
11,16 Jan,7555.16,6925.57,5666.37,4407.18,3147.99
12,17 Jan,7522.03,6895.19,5641.52,4387.85,3134.18
13,20 Jan,7511.70,6885.73,5633.78,4381.83,3129.88
14,21 Jan,7624.48,6989.11,5718.36,4447.61,3176.87
15,22 Jan,7660.36,7022.00,5745.27,4468.55,3191.82
16,23 Jan,7656.95,7018.87,5742.71,4466.55,3190.39
17,24 Jan,7680.11,7040.10,5760.08,4480.06,3200.04
18,27 Jan,7620.02,6985.02,5715.02,4445.01,3175.01
19,28 Jan,7696.79,7055.39,5772.59,4489.79,3206.99
20,29 Jan,7689.02,7048.27,5766.76,4485.26,3203.76
21,30 Jan,7785.28,7136.50,5838.96,4541.41,3243.87
22,31 Jan,7800.37,7150.34,5850.28,4550.22,3250.15
23,3 Feb,7866.55,7211.01,5899.92,4588.82,3277.73
24,4 Feb,7954.38,7291.51,5965.78,4640.05,3314.32
25,5 Feb,8055.77,7384.45,6041.83,4699.20,3356.57
26,6 Feb,8048.48,7377.78,6036.36,4694.95,3353.54
27,7 Feb,8075.80,7402.81,6056.85,4710.88,3364.92

df.to_csv(output_file, index=False)